@model IEnumerable<DTO.ListadoDisciplinasDTO>

<form asp-action="AtletasPorDisciplina" method="get">
    <label for="disciplina">Selecciona una disciplina:</label>
    <select id="disciplina" name="id" class="form-control" required>
        @if (Model != null)
        {
            @foreach (var disciplina in Model)
            {
                <option value="@disciplina.Id">@disciplina.Nombre</option>
            }
        }

    </select>
    <button type="submit" class="btn btn-primary mt-2">Ver Atletas</button>
</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
