@model PresentacionMVC.Models.AltaUsuarioViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DTOAltaUsuario.Email" class="control-label"></label>
                <input asp-for="DTOAltaUsuario.Email" class="form-control" />
                <span asp-validation-for="DTOAltaUsuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTOAltaUsuario.Contrasenia" class="control-label"></label>
                <input asp-for="DTOAltaUsuario.Contrasenia" class="form-control" />
                <span asp-validation-for="DTOAltaUsuario.Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTOAltaUsuario.IdRol" class="control-label"></label>
                <select asp-for="DTOAltaUsuario.IdRol" class="form-control">
                    @foreach (var item in Model.RolesDTO)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
